.clients {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        margin-top: 30px;
    }

    &__link {
        @include centeredFlex();

        width: 210px;
        height: 92px;
        border: 1px solid $clients-color;
        border-radius: 4px;
        color: $clients-color;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        fill: currentColor;
    }

    &__link:hover,
    &__link:focus {
        border: 1px solid $accent-color;
        color: $accent-color;
    }
}

@media (max-width:479px) {
    .clients {
        width: 210px;
        margin: 0 auto;
    }

    .clients__item {
        margin-right: 0px;
    }
}

@media (min-width:480px) and (max-width:767.9px) {
    .clients__item:nth-child(2n+1) {
        margin-right: 30px;
    }
}

@media (min-width:768px) {
    .clients {
        flex-direction: row;
    }

    .clients__item:not(:nth-child(3n)) {
        margin-right: 30px;
    }
}

@media (min-width:1200px) {
    .clients__link {
        width: 170px;
    }

    .clients__item {
        margin-top: 0px;
    }

    .clients__item:not(:last-child) {
        margin-right: 30px;
    }
}