.footer {
    background-color: $third-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.footer-info {

    &__item:not(:last-child) {
        display: block;
        margin-bottom: 9px;
    }

    &__location {
        color: $secondary-text-color;
    }

    &__contacts {
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;

        color: $secondary-text-color;
    }

    &__contacts:hover {
        color: $accent-color;
    }
}

.join {
    margin-top: 60px;

    &__socials {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

.subscribe {
    display: block;

    margin-top: 60px;

    &__form {
        align-items: center;
    }

    &__input {
        display: block;

        width: 100%;
        height: 50px;
        padding: 0 16px;

        background-color: $third-bg-color;
        border: 1px solid rgba(255, 255, 255, 0.3);

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        color: $secondary-text-color;

        margin: 20px auto;
    }

    &__input::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }

    &__icon {
        margin-left: 10px;
    }
}

@media (min-width:480px) {
    .subscribe__input {
        max-width: 450px;
    }
}



@media (min-width:768px) {
    .tablet-container {
        display: flex;
        align-items: baseline;
        justify-content: space-around;

    }

    .footer-info {
        display: inline-block;
    }

    .join {
        display: inline-block;
        margin-top: 0;
    }
}

@media (min-width:1200px) {
    .footer {
        text-align: left;
    }

    .footer>.container {
        display: flex;
    }

    .join {
        margin-left: 70px;
    }

    .subscribe {
        display: block;
        margin-top: 0;
        margin-right: 0;
        margin-left: auto;
    }

    .subscribe__form {
        display: flex;
        align-items: flex-end;

    }

    .subscribe__input {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}