.container--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;

}

.menu-mobile {
    background-color: $primery-bg-color;
    border: none;
    margin-left: auto;
}

.menu-mobile__icon {
    max-width: 40px;
    max-height: 40px;
    margin-left: auto;
    display: block;

    &:active {
        fill: $accent-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.page-header {
    border-bottom: 1px solid #ECECEC
}

.site-nav {
    display: none;
    align-items: center;

    & &__item:not(:last-child) {
        display: block;
        margin-right: 50px;
    }

    &__link {
        position: relative;

        display: block;
        padding: 32px 0;

        text-decoration: none;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $primary-text-color;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }

    &__link--current {
        position: relative;
        color: $accent-color;
    }

    &__link--current::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 100%;
        border: 2px solid $accent-color;
        border-radius: 2px;
        background-color: $accent-color;
    }

}


.contacts {
    display: none;
    justify-content: center;

    & &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        color: $title-text-color;
        display: flex;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        align-items: center;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__link--active:hover,
    &__link--active:focus {
        color: $accent-color;
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}

@media (min-width:768px) {
    .site-nav {
        display: flex;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }

    .contacts__link {
        font-size: 12px;
    }

    .menu-mobile {
        display: none;
    }
}

@media (min-width:1200px) {
    .container--header {
        max-height: 80px;
    }

    .site-nav {
        margin-left: 93px;
    }

    .contacts {
        flex-direction: row;
        margin-left: auto;
    }

    .contacts .contacts__item:not(:last-child) {
        display: block;
        margin-right: 50px;
        margin-bottom: 0;
    }
}