.team-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        width: 100%;
        margin-top: 30px;
        background-color: $primery-bg-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }


    &__member {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1, 18;
        letter-spacing: 0.03em;
        text-align: center;
    }

    &__speciality {
        margin-bottom: 16px;
        color: $title-text-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
    }

    &__card {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__item img {
        width: 100%;
        margin-bottom: 30px;
    }

}

@media (min-width:480px) {
    .team-work__item {
        width: 450px;
    }
}

@media (min-width:768px) {
    .team-work__item {
        width: 354px;
    }

    .team-work__item:nth-child(odd) {
        margin-right: 30px;
    }

    .team-work__item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

@media (min-width:1200px) {
    .team-work__item {
        margin-top: 0;
        width: 270px;
    }

    .team-work__item:not(:last-child) {
        margin-right: 30px;
    }
}