h1,
h2,
h3,
ul,
li,
a,
p {
    margin: 0px;
    padding: 0px;
}

.work,
.team-work,
.advantages,
.filter,
.services {
    list-style: none;
}

a {
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}