$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$secondary-text-color: #FFFFFF;
$primery-bg-color: #FFFFFF;
$secondary-bg-color: #F5F4FA;
$contacts-color: rgba(255, 255, 255, 0.6);
$third-bg-color: #2f303a;
$secondary-bg-color-button: #F5F4FA;
$hero-bg-color: #C4C4C4;
$icon-color: #AFB1B8;
$bg-icon-color: #FFFFFF;
$secondaty-bg-icon: rgba(255, 255, 255, 0.1);
$clients-color: #AFB1B8;
$card-border-color: #EEEEEE;